# Manage external git repositories
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}

".config/nvim":
    type: "git-repo"
    url: "https://github.com/HexSleeves/nvim.git"
    pull:
        args: ["--rebase"]

".config/zsh":
    type: "git-repo"
    url: "https://github.com/HexSleeves/zdotdir.git"
    pull:
        args: ["--rebase"]

{{ end -}}
