# Manage external git repositories
{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
{{- /* Determine glow binary OS and architecture */ -}}
{{- $glowArch := "x86_64" -}}
{{- $glowOS := "Linux" -}}
{{- $glowVersion := "2.1.1" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $glowOS = "Darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $glowArch = "arm64" -}}
{{-   end -}}
{{- end }}

".config/nvim":
    type: "git-repo"
    url: "https://github.com/HexSleeves/nvim.git"
    pull:
        args: ["--rebase"]

".config/zsh":
    type: "git-repo"
    url: "https://github.com/HexSleeves/zdotdir.git"
    pull:
        args: ["--rebase"]

{{ if not (index . "ephemeral" | default false) -}}
{{- $monaspaceVersion := "v1.301" -}}
".local/share/fonts/Monaspace":
    type: "archive"
    url: {{ printf "https://github.com/githubnext/monaspace/archive/refs/tags/%s.zip" $monaspaceVersion | quote }}
    exact: true
    stripComponents: 4
    refreshPeriod: "168h"
    include: ["**/*.otf", "**/*.ttf"]
{{ end }}

".local/bin/glow":
    type: "archive-file"
    url: {{ printf "https://github.com/charmbracelet/glow/releases/download/v%s/glow_%s_%s_%s.tar.gz" $glowVersion $glowVersion $glowOS $glowArch | quote }}
    executable: true
    stripComponents: 1
    path: "glow"

{{ end -}}
