{{- $interactive := stdinIsATTY -}}
{{- $linuxFamilyByID := dict
  "ubuntu" "debian"
  "debian" "debian"
  "pop" "debian"
  "linuxmint" "debian"
  "elementary" "debian"
  "zorin" "debian"
  "arch" "arch"
  "manjaro" "arch"
  "endeavouros" "arch"
  "fedora" "rhel"
  "rhel" "rhel"
  "rocky" "rhel"
  "almalinux" "rhel"
  "centos" "rhel"
  "ol" "rhel"
-}}

{{/* Work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $ephemeral := false -}}
{{- $personal := contains "noodle" (lower $hostname) -}}
{{- $hasSSH := or (not (not (env "SSH_CONNECTION"))) (not (not (env "SSH_CLIENT"))) (not (not (env "SSH_TTY"))) -}}
{{- $hasDisplay := or (not (not (env "DISPLAY"))) (not (not (env "WAYLAND_DISPLAY"))) -}}
{{- $headless := $hasSSH -}}

{{/* Linux GUI sessions usually expose DISPLAY/WAYLAND. macOS GUI apps do not. */}}
{{- if and (ne .chezmoi.os "darwin") (not $headless) (not $hasDisplay) -}}
{{-   $headless = true -}}
{{- end -}}

{{/* Detect CI/container/ephemeral users */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- $distroID := "" -}}
{{- $distroFamily := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $distroID = lower .chezmoi.osRelease.id -}}
{{-   $osID = printf "%s-%s" .chezmoi.os $distroID -}}
{{-   if hasKey $linuxFamilyByID $distroID -}}
{{-     $distroFamily = index $linuxFamilyByID $distroID -}}
{{-   else -}}
{{-     $distroFamily = $distroID -}}
{{-   end -}}
{{- end -}}
{{- $packageManager := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $packageManager = "brew" -}}
{{- else if eq $distroFamily "debian" -}}
{{-   $packageManager = "apt-get" -}}
{{- else if eq $distroFamily "arch" -}}
{{-   $packageManager = "pacman" -}}
{{- else if eq $distroFamily "rhel" -}}
{{-   if lookPath "dnf" -}}
{{-     $packageManager = "dnf" -}}
{{-   else -}}
{{-     $packageManager = "yum" -}}
{{-   end -}}
{{- end -}}
{{- $homebrewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $homebrewPrefix = "/opt/homebrew" -}}
{{-   else -}}
{{-     $homebrewPrefix = "/usr/local" -}}
{{-   end -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "Tip: re-enter prompted data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

{{/* Class selection: env override -> prompt -> safe non-interactive default */}}
{{- $class := env "CHEZMOI_MACHINE_CLASS" | trim -}}
{{- if eq $class "" -}}
{{-   if $interactive -}}
{{-     $class = promptStringOnce . "machine_class" "Machine class (Personal/Work)" -}}
{{-   else if $personal -}}
{{-     $class = "Personal" -}}
{{-   else -}}
{{-     $class = "Work" -}}
{{-   end -}}
{{- end -}}

{{- if eq (lower $class) "work" -}}
{{-   $class = "Work" -}}
{{- else -}}
{{-   $class = "Personal" -}}
{{- end -}}

{{- $personalEmail := "lecoqjacob@gmail.com" -}}
{{- $bayerEmail := "jacob.lecoq.ext@bayer.com" -}}
{{- $liatrioEmail := "jacob.lecoq@liatrio.com" -}}
{{- $signingKey := "758709BBEB67145DE844FC85C61F052D671268B5" -}}
{{- $email := env "CHEZMOI_GIT_EMAIL" | trim -}}
{{- if eq $email "" -}}
{{-   $email = $personalEmail -}}
{{- end -}}

encryption = "age"
sourceDir = {{ joinPath .chezmoi.homeDir ".local/share/chezmoi" | quote }}
cacheDir = {{ joinPath .chezmoi.homeDir ".cache/chezmoi" | quote }}
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1phy6rxatc2gzct0xw5mqmc0gtnumwt4qzwc48372k3aj56jmt5rs3hftdz"

[data]
    os = {{ .chezmoi.os | quote }}
    osid = {{ $osID | quote }}
    distro = {{ $distroID | quote }}
    distrofamily = {{ $distroFamily | quote }}
    packagemanager = {{ $packageManager | quote }}
    homebrewprefix = {{ $homebrewPrefix | quote }}
    email = {{ $email | quote }}
    personalemail = {{ $personalEmail | quote }}
    bayeremail = {{ $bayerEmail | quote }}
    liatrioemail = {{ $liatrioEmail | quote }}
    class = {{ $class | quote }}
    personal = {{ $personal }}
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}
    signingkey = {{ $signingKey | quote }}

[onepassword]
    command = "op"
    # Use biometric authentication on macOS (recommended)
    {{- if eq .chezmoi.os "darwin" }}
    prompt = true
    {{- else }}
    prompt = false
    {{- end }}

[diff]
    exclude = ["scripts"]

[status]
    exclude = ["scripts"]
