#!/bin/sh

set -eu

key_dir="{{ .chezmoi.homeDir }}/.config/chezmoi"
key_path="${key_dir}/key.txt"
encrypted_key="{{ .chezmoi.sourceDir }}/key.txt.age"

if [ ! -f "$key_path" ]; then
    mkdir -p "$key_dir"
    chezmoi age decrypt --output "$key_path" --passphrase "$encrypted_key"
    chmod 600 "$key_path"
fi
